.container{
    margin-left: 30px;
    color: #fff;
   
}

.container h1{

    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 27px;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x:scroll ;
    overflow-y: hidden;

}
.posters::-webkit-scrollbar{
    display: none;
}
.posters .poster{
    max-height: 300px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.posters img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.smallPoster{
max-height: 150px;
/* width: 400px; */
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
/* width: 200px; */
}


